body, html
  padding 0
  margin 0
  background-color #F1FFE6
.icon
  width 125px
  height 120px
  margin 0 auto
  position relative
  -webkit-transform translateY(50%)
  .frog
    position absolute
    top 0 
    left 0
    width 100%
    height 100%
    .body
      width 110px
      height 86px
      background-color #A3D768
      border-radius 50%
      position absolute
      top 25px
      left 0
      right 0
      margin auto
      box-shadow 4px 4px 0px 0px rgba(163, 215, 104, 0.3)
      .mouth
        margin auto
        width 26px
        height 26px
        border-bottom 10px solid #fff
        border-radius 20px
      .blush
        width 75px
        height 9px
        position absolute
        top 20px
        left 0
        right 0
        margin auto
        opacity 0
        -webkit-animation blush 2.8s linear 0s infinite
        animation blush 2.8s linear 0s infinite
        &:before, &:after
          content ""
          display block
          width 12px
          height 100%
          background-color #F7D2C9
          border-radius 50%
        &:before
          position absolute
          top 0
          left 0
        &:after
          position absolute
          top 0
          right 0
    .eyes
      width 86px
      height 35px
      position absolute
      top 8px
      left 0
      right 0
      margin auto
      .eye
        width 35px
        height 35px
        &:before
          content ""
          display block
          width 100%
          height 100%
          background-color #A3D768
          border-radius 50%
        &:after
          content ""
          display block
          width 60%
          height 60%
          border-top 3px solid #3F6A34
          border-radius 50%
          position absolute
          top 40%
          left 20%
          opacity 0
          -webkit-animation eyes-2 2.8s linear 0s infinite
          animation eyes-2 2.8s linear 0s infinite
        .eye-inner
          background-color #fff
          width 80%
          height 80%
          position absolute
          top 10%
          left 10%
          border-radius 50%
          -webkit-transform-origin center center
          transform-origin center center
          -webkit-animation eyes-1 2.8s linear 0s infinite
          animation eyes-1 2.8s linear 0s infinite
          .pupil
            background-color #3F6A34
            width 60%
            height 60%
            position absolute
            top 20%
            left 20%
            border-radius 50%
            .light
              background-color #fff
              width 50%
              height 50%
              position absolute
              top 10%
              left 10%
              border-radius 50%
      .eye-left
        position absolute
        top 0px
        left 0
      .eye-right
        position absolute
        top 0px
        right 0
@keyframes eyes-1
  0%
    transform scale(1, 1)
    opacity 1
  20%
    transform scale(0, 0)
    opacity 0
  70%
    transform scale(0, 0)
    opacity 0
  80%
    transform scale(1, 1)
    opacity 1
@keyframes eyes-2
  0%
    opacity 0
    position absolute
    top 40%
    left 20%
  28%
    opacity 1
    position absolute
    top 20%
    left 20%
  70%
    opacity 1
    position absolute
    top 20%
    left 20%
  78%
    opacity 0
    position absolute
    top 40%
    left 20%
@keyframes blush
  0%
    opacity 0
  20%
    opacity 1
  70%
    opacity 1
  80%
    opacity 0